body {
    background-color: #eeeeee;
    font-family: sans-serif;
    text-align: center;
}
#start {
    border: black solid 2px;
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: aqua;
}
#start:hover {
    background-color: #aaffff;
}
#Projects {
    margin-top: 1em;
    border: black solid 2px;
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
#RD {
    margin-top: 1em;
    border: black solid 2px;
    background-color: #aaffff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
#SC {
    margin-top: 1em;
    border: black solid 2px;
    background-color: #ffffaa;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
#VAB {
    margin-top: 1em;
    border: black solid 2px;
    background-color: #ffff66;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
#NextYear {
    padding: 1em;
}
.Project {
    width: 96%;
    margin: 2%;
}